body {
    font-family: 'Roboto', sans-serif;
}

.title {
    text-align: center;
}

.heading {
    text-align: center;
}

.links {
    text-align: center;
}

.home_link {
    text-decoration: none;
}

.post {
    margin: auto;
    
    width: 80%;
 
    font-size: large;
    /* font-weight: 600; */
}

pre { 
    font-family: monospace;
    /* background-color: darkgray; */
    font-weight: bold;
}

.snippet {
    font-family: monospace;
    /* background-color: darkgray; */
    font-weight: bold;
}

.date {
    font-weight: bold;
}